
.loadScreen {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.55s opacity ease-out;
}

.load {
  margin: 0 0 30px 0;
  padding: 0;
  color: #012FA7;
  font-family: 'Basis Grotesque';
  user-select: none;
}

.progressBar {
  border-radius: 8px;
  width: 300px;
  background-color: #ffffff;
}

.progress {
  border-radius: 8px;
  width: 0px;
  height: 7px;
  background-color: #012FA7;
}

#bm2 {
  position: absolute;
  z-index: 10;
  pointer-events: none;
  position: absolute;
  width: 500px;
  right: 550px;
  top: 280px;
  opacity: 0;
}

#bm3 {
  position: absolute;
  pointer-events: none;
  position: absolute;
  z-index: 10;
  width: 400px;
  right: 720px;
  bottom: 0px;
  opacity: 0;
}
