@font-face {
  font-family: 'Basis Grotesque';
  src: url('@fonts/Basis-Grotesque-Pro-Black.ttf');
}

.menu {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: #F5F5F5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 1s opacity ease;
  visibility: hidden;

  #svg-menu {
    position: absolute;
    z-index: 2;

    .scene-button {
      fill: transparent;
    }
  }

  img {
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: auto;
    pointer-events: none;
  }
}