@keyframes slideUp {
  from {
    transform: translateY(45px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.menu {
  position: relative;
  top: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: #F5F5F5;
  display: none;
  justify-content: space-around;
  align-items: center;
  transition: 1s opacity ease;
  animation: slideUp 0.8s ease both;

  .consigne {
    position: absolute;
    z-index: 3;
    bottom: 25px;
    font-family: 'Lato' !important;
    color: #012FA7;
    font-size: 15pt;
    animation: slideUp 0.8s 0.4s ease both;
    transition: transform 0.3s ease-in-out;
    transform: translateY(0px);

    :hover {
      transform: translateY(-5px);
    }
  }

  #svg-menu {
    position: absolute;
    z-index: 2;

    .scene-button {
      fill: transparent;
    }
  }

  img {
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: auto;
    pointer-events: none;
  }
}