@font-face {
  font-family: 'Basis Grotesque';
  src: url('@fonts/Basis-Grotesque-Pro-Black.ttf');
}

.menu {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.55s opacity ease-out;
  visibility: hidden;

  .scene-button {
    background-color: #012FA7;
    color: #fff;
    height: 60px;
    padding: 15px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 35px;
    outline: none;
    cursor: pointer;
    font-family: 'Basis Grotesque';
    cursor: none;
  }
}