@font-face {
  src: url('@fonts/Montserrat-Regular.ttf');
  font-family: Montserrat;
}

@font-face {
  font-family: 'Basis Grotesque';
  src: url('@fonts/Basis-Grotesque-Pro-Black.ttf');
}

@font-face {
  font-family: 'Lato';
  src: url('@fonts/Lato.ttf');
}

@import './common.styl';
@import './loading.styl';
@import './menu.styl';
@import './home.styl';
@import './peintureDeFeu.styl';
@import './anthropometries.styl';
@import '/informations.styl';
@import '/endVideo.styl';